.contact__section {
  padding: 1rem;
}
.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact__form {
  width: 50%;
}
.contact__form form input,
textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ddd;
  padding: 0.6rem 0.2rem;
  color: gray;
  margin-top: 0.5rem;
}
.contact__form textarea {
  height: 5rem;
}
.input__group {
  margin-top: 1rem;
}
.contact__img {
  width: 40%;
}
